@import 'colours';
@import 'mixins';

.page {
	bottom: 0;
	display: flex;
	flex-flow: column nowrap;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	.header {
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
		display: flex;
		flex: 0 0 80px;
		flex-flow: row nowrap;
		z-index: 1;

		a {
			display: flex;
			flex: 1 1 33%;
			flex-flow: column nowrap;
			justify-content: center;
			padding: 10px;

			@include width(400px) {
				padding: 15px;
			}
			@include width(800px) {
				padding: 20px;
			}

			&.batches {
				background-color: $dark_blue;
			}

			h4 {
				color: rgba(255, 255, 255, 0.7);
				font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			}
			h1 {
				color: #fff;
				font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
			}
		}
	}
	.batches {
		background: rgba(0, 0, 0, 0.05);
		display: flex;
		flex: 1 1 auto;
		flex-flow: column nowrap;
		overflow-y: auto;
		padding-bottom: 20px;

		.batch {
			display: flex;
			flex-flow: column nowrap;
			margin-top: 20px;
			padding: 0 10px;

			@include width(500px) {
				flex-flow: row nowrap;
			}

			.details {
				flex: 0 0 90px;

				@include width(500px) {
					flex-flow: column nowrap;
					padding-right: 10px;
				}

				h1 {
					color: rgba(0, 0, 0, 0.87);
					font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
				}
				h4 {
					color: rgba(0, 0, 0, 0.87);
					font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
					margin-bottom: 10px;

					&:last-child {
						color: rgba(0, 0, 0, 0.38);
					}
				}
			}
			.products {
				background: #fff;
				display: flex;
				flex: 1 1 auto;
				flex-flow: column nowrap;
				overflow-y: auto;
				padding: 0 10px;

				.product {
					border-bottom: 5px solid rgba(0, 0, 0, 0.05);
					display: flex;
					flex-flow: row nowrap;
					padding: 10px 0;

					&:last-child {
						border-bottom: 0;
					}

					.image {
						flex: 0 0 40px;
						margin-right: 10px;

						img {
							float: left;
							width: 100%;
						}
					}
					.titles {
						display: flex;
						flex: 1 1 auto;
						flex-flow: column nowrap;
						justify-content: center;
						margin-right: 10px;

						h4 {
							color: rgba(0, 0, 0, 0.87);
							font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
						}
						h5 {
							color: $dark_blue;
							font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
							margin-top: 5px;
						}
						h6 {
							color: rgba(0, 0, 0, 0.54);
							font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
							margin-top: 5px;
						}
					}
					.quantity {
						display: flex;
						flex: 0 1 auto;
						flex-flow: column nowrap;
						justify-content: center;

						h3 {
							font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
							white-space: nowrap;
						}
					}
				}
			}
		}
	}
}